@import "../main/parameters";

.blog-section {
  padding: 0 0 120px;
  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 0 31px;
  }
  &__title {}
  &__link {}
}
@media (max-width: $sm - 1) {
  .blog-section {
    padding: 0 0 10px;
    &__header {
      margin: 0 0 15px;
    }
  }
}