@import "../main/parameters";

.catalog {
  padding-top: 58px;
}

.catalog-nav {
  &__list {}
  &__list li {
    margin: 0 0 20px;
  }
  &__list a {
    font-size: 18px;
    line-height: 23px;
  }
}

.catalog-filters {
  display: flex;
  &__item {
    margin: 0 10px 20px 0;
    select {
      height: 35px;
      border-radius: 5px;
      border: 1px solid $c-text;
      padding: 0 50px 0 10px;
    }
    .jq-selectbox__select {
      padding: 0 50px 0 10px;
      height: 35px;
      line-height: 35px;
      border: 1px solid $c-text;
    }
    .jq-selectbox__trigger-arrow {
      top: 13px;
      right: 13px;
    }
  }
}