@import "../main/parameters";

.radio-item {
  display: inline-block;
  margin: 0;
  .label {
    font-size: 14px;
    color: #777777;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 27px;
    transition: all ease 0.4s;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      border: 1px solid #000;
      height: 14px;
      width: 14px;
      border-radius: 50%;
    }
    &::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      height: 8px;
      width: 8px;
      border-radius: 50%;
    }
  }
  input {
    display: none;
    &:checked + .label::after {
      background: #000;
    }
  }
}
.checkbox-item {
  display: inline-block;
  margin: 3px 0 9px;
  .label {
    font-size: 14px;
    color: #777777;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 27px;
    transition: all ease 0.4s;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      border: 1px solid #000;
      height: 14px;
      width: 14px;
    }
    &::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      height: 8px;
      width: 8px;
    }
  }
  input {
    display: none;
    &:checked + .label::after {
      background: #000;
    }
  }
}

.fieldgroup {
  position: relative;
  margin: 0 0 14px;

  .input {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #727272;
  }
  .textarea {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    font-size: 14px;
    padding: 14px 15px;
    color: #727272;
  }
  .icon {
    position: absolute;
    top: 17px;
    left: 16px;
    z-index: 11;
    width: 14px;
    max-height: 16px;
    fill: #ccc;
  }

  &.has-error {
    .input,
    .textarea {
      border-color: $c-primary;
    }
    .error-mess {
      display: block;
    }
  }

  &--icon {
    .textarea,
    .input {
      padding-left: 40px;
    }
  }
  &--select {
    z-index: 22;
  }
}


@media (max-width: $sm - 1) {
  .fieldgroup {
    .radio-item {
      .text {
        font-size: 13px;
        line-height: 21px;
      }
      .text2 {
        font-size: 13px;
      }
    }
    .radio-item--big {
      .label {
        padding: 13px 10px 12px;
      }
    }
    .textarea {
      min-height: 80px;
    }
  }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.counter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 0;
  .disabled-text {
    position: absolute;
    bottom: 100%;
    left: 0;
    display: none;
    width: 100%;
    text-align: center;
    color: $c-primary;
    font-size: 12px;
  }
  &__input {
    position: relative;
    display: block;
    max-width: 48px;
    flex: 0 0 48px;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
    text-align: center;
    color: #2E2C34;
    outline: none;
    background-color: #fff;
  }
  &__btn {
    position: relative;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #9E9E9E;
    background: #fff;
    font-size: 0;
    border: 1px solid $c-text;
    &:before, &:after {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      left: calc(50% - 5px);
      display: block;
      width: 16px;
      height: 2px;
      background: #9E9E9E;
    }
    &:before {
      transform: rotate(-90deg);
    }
    &[disabled], &.disabled {
      cursor: default;
      &:before, &:after {
        opacity: 0.5;
      }
      &:hover {
        &::before,
        &::after {
          background: #9E9E9E;
        }
      }
    }
    &:hover {
      &::before,
      &::after {
        background: $c-primary;
      }
    }
  }
  &__minus {
    order: -1;
    &:before {
      display: none;
    }
  }
  &__plus {
    &[disabled], &.disabled {
      & ~ .disabled-text {
        display: block;
      }
    }
  }
}

.counter--sm {
  max-width: 100%;
  .counter {
    &__input {
      max-width: 40px;
      flex: 0 0 40px;
      height: 38px;
      line-height: 38px;
    }
    &__btn {
      width: 40px;
      height: 40px;
      &:before, &:after {
        content: '';
        position: absolute;
        top: calc(50% - 1px);
        left: calc(50% - 5px);
        width: 11px;
        height: 1px;
        background: #000;
      }
    }
    &__minus {}
    &__plus {}
  }
}
