@import "../main/parameters";

.product-connected-sl {
  &__wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  &__actions {
    display: none;
  }
  &__main {
    max-width: 575px;
    flex: 0 0 575px;
    margin: 0 35px 0 0;
  }
  &__nav {
    padding: 0;
    max-width: 120px;
    flex: 0 0 120px;
    position: relative;
    .swiper-container {
      height: 660px;
    }
    .swiper-slide {
      border: 1px solid rgba(0,0,0,0.0);
      height: 150px;
      max-height: 150px;
      opacity: 0.3;
    }
    .swiper-slide-thumb-active {
      border: 1px solid $c-text;
      opacity: 1;
    }
    .swiper-button-prev {
      top: -10px!important;
      bottom: auto!important;
      transform: rotate(90deg);
      border: 0;
      left: 45px;
    }
    .swiper-button-next {
      bottom: -5px!important;
      top: auto!important;
      transform: rotate(90deg);
      border: 0;
      left: 45px;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
      border-color: #4F4F4F;
    }
    .swiper-button-disabled {
      display: none;
    }
  }
  &__link {
    display: block;
  }
  &__img {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: $lg - 1) {
  .product-connected-sl {
    position: relative;
    &__actions {
      display: block;
      position: absolute;
      z-index: 2;
      bottom: 20px;
      right: 20px;
      .to-favourite {}
      .to-favourite .icon {
        height: 25px;
        width: 25px;
        fill: #fff;
      }
    }
  }
}
@media (max-width: $lg - 1) and (min-width: $md) {
  .product-connected-sl {
    height: 610px;
    &__main {
      max-width: 485px;
      flex: 0 0 485px;
      margin: 0;
    }
    &__nav {
      max-width: 80px;
      flex: 0 0 80px;
      .swiper-slide {
        height: 100px;
        max-height: 100px;
      }
    }
  }
}
@media (max-width: $md - 1) and (min-width: $sm) {
  .product-connected-sl {
    &__wrap {
      margin-bottom: 50px;
    }
    &__main {
      margin: 0;
    }
    &__nav {}
  }
}
@media (max-width: $sm - 1) and (min-width: $xs) {
  .product-connected-sl {
    &__wrap {
      margin-bottom: 30px;
    }
    &__main {
      max-width: 400px;
      flex: 0 0 400px;
      margin: 0;
    }
    &__nav {
      max-width: 50px;
      flex: 0 0 50px;
      .swiper-container {
        height: 350px;
      }
      .swiper-slide {
        max-height: 50px;
      }
    }
  }
}
@media (max-width: $xs - 1) {
  .product-connected-sl {
    &__wrap {
      margin-bottom: 30px;
    }
    &__main {
      max-width: 225px;
      flex: 0 0 225px;
      margin: 0 auto;
    }
    &__nav {
      padding: 15px 0;
      max-width: 42px;
      flex: 0 0 42px;
      .swiper-container {
        height: 185px;
      }
      .swiper-button-prev,
      .swiper-container-rtl .swiper-button-next {
        left: 4px;
      }
      .swiper-button-next,
      .swiper-container-rtl .swiper-button-prev {
        right: 4px;
      }
      .swiper-slide {
        max-height: 42px;
        min-height: 42px;
      }
    }
  }
}