+b('nav').drop-nav
    .container
        +e.__inner
            +e.__col
                +e.__title New arriwas
                +e('ul').nav-list
                    li.nav-item.nav-item-subnav
                        span.nav-link-wr
                            a(href="#").nav-link Women
                            span.icon
                        ul.nav-list-lvl2
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Dress
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Skirts
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Pants
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Blouses
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Costumes
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Jackets
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Accessories
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Limited
                    li.nav-item.nav-item-subnav
                        span.nav-link-wr
                            a(href="#").nav-link Teens
                            span.icon
                        ul.nav-list-lvl2
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Dress
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Skirts
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Pants
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Blouses
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Costumes
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Jackets
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Accessories
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Limited
                    li.nav-item.nav-item-subnav
                        span.nav-link-wr
                            a(href="#").nav-link Kids
                            span.icon
                        ul.nav-list-lvl2
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Dress
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Skirts
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Pants
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Blouses
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Costumes
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Jackets
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Accessories
                            li.nav-item-lvl2
                                a(href="#").nav-link-lvl2 Limited
            +e.__col
                +e.__title About Brend
                +e('ul').nav-list
                    li.nav-item
                        a(href="#").nav-link Contact
            +e.__col
                +e.__title Service & benefits
                +e('ul').nav-list
                    li.nav-item
                        a(href="#").nav-link Return terms
                    li.nav-item
                        a(href="#").nav-link Terms of delivery