extends layout/layout

block vars
    - var pageTitle = 'Shopping bag.Empty'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content

    +b.shopping-bag.container
        +e('h1').__title.h1.h1--big Shopping Bag
        +e.__empty
            +lazy-img({
                img: './assets/imgs/shb-empty.png',
                placeholder: pixel,
                img_mod: 'shopping-bag__img',
                wrap_mod: 'shopping-bag__img-wrap',
                link: false,
                aria_label: false,
            })
            +e.__empty-text You haven't placed either one item per shopping bag
            +e.__empty-btn
                a(href="#").btn.btn--dark.btn--icon
                    +icon('i-plus')
                    span start shopping
    include components/product-item
    +b.products-section
        .container
            +e.__header.h2 Most Popular
            +e.__slider.js-products-slider
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            +product-item({
                                mod_class: '',
                                img: './assets/imgs/product27.jpg',
                                status: 'New',
                                title: 'Beaded earrings',
                                price: '1 500€',
                                old_price: '',
                                in_favourite: '',
                                not_in_stock: '',
                                in_stock: '',
                                colors: ['#EBB74F'],
                                sizes: [
                                    {name: 'xs', status: 'size--ends'},
                                    {name: 's', status: 'size--end'},
                                    {name: 'm', status: ''},
                                    {name: 'l', status: ''}
                                ],
                                bottom_sizes: ''
                            })
                        .swiper-slide
                            +product-item({
                                mod_class: '',
                                img: './assets/imgs/product28.jpg',
                                status: 'New',
                                title: 'Square Toe Sandals',
                                price: '1 200€',
                                old_price: '',
                                in_favourite: '',
                                not_in_stock: '',
                                in_stock: '',
                                colors: ['#121212'],
                                sizes: [
                                    {name: 'xs', status: 'size--ends'},
                                    {name: 's', status: ''},
                                    {name: 'm', status: 'size--end'},
                                    {name: 'l', status: ''}
                                ],
                                bottom_sizes: ''
                            })
                        .swiper-slide
                            +product-item({
                                mod_class: '',
                                img: './assets/imgs/product29.jpg',
                                status: 'New',
                                title: 'Leather bag with nappa dressing',
                                price: '800€',
                                old_price: '',
                                in_favourite: '',
                                not_in_stock: '',
                                in_stock: '',
                                colors: ['#E5E5E5', '#B7A085'],
                                sizes: '',
                                bottom_sizes: ''
                            })
                        .swiper-slide
                            +product-item({
                                mod_class: '',
                                img: './assets/imgs/product30.jpg',
                                status: 'New',
                                title: 'Elastic bow',
                                price: '1 300€',
                                old_price: '',
                                in_favourite: '',
                                not_in_stock: '',
                                in_stock: '',
                                colors: ['#A3ADAD', '#9A2A28', '#080508'],
                                sizes: '',
                                bottom_sizes: ''
                            })
                        .swiper-slide
                            +product-item({
                                mod_class: '',
                                img: './assets/imgs/product27.jpg',
                                status: 'New',
                                title: 'Beaded earrings',
                                price: '1 500€',
                                old_price: '',
                                in_favourite: '',
                                not_in_stock: '',
                                in_stock: '',
                                colors: ['#EBB74F'],
                                sizes: [
                                    {name: 'xs', status: 'size--ends'},
                                    {name: 's', status: 'size--end'},
                                    {name: 'm', status: ''},
                                    {name: 'l', status: ''}
                                ],
                                bottom_sizes: ''
                            })
                        .swiper-slide
                            +product-item({
                                mod_class: '',
                                img: './assets/imgs/product28.jpg',
                                status: 'New',
                                title: 'Square Toe Sandals',
                                price: '1 200€',
                                old_price: '',
                                in_favourite: '',
                                not_in_stock: '',
                                in_stock: '',
                                colors: ['#121212'],
                                sizes: [
                                    {name: 'xs', status: 'size--ends'},
                                    {name: 's', status: ''},
                                    {name: 'm', status: 'size--end'},
                                    {name: 'l', status: ''}
                                ],
                                bottom_sizes: ''
                            })
                        .swiper-slide
                            +product-item({
                                mod_class: '',
                                img: './assets/imgs/product29.jpg',
                                status: 'New',
                                title: 'Leather bag with nappa dressing',
                                price: '800€',
                                old_price: '',
                                in_favourite: '',
                                not_in_stock: '',
                                in_stock: '',
                                colors: ['#E5E5E5', '#B7A085'],
                                sizes: '',
                                bottom_sizes: ''
                            })
                        .swiper-slide
                            +product-item({
                                mod_class: '',
                                img: './assets/imgs/product30.jpg',
                                status: 'New',
                                title: 'Elastic bow',
                                price: '1 300€',
                                old_price: '',
                                in_favourite: '',
                                not_in_stock: '',
                                in_stock: '',
                                colors: ['#A3ADAD', '#9A2A28', '#080508'],
                                sizes: '',
                                bottom_sizes: ''
                            })
                .swiper-button-prev
                .swiper-button-next



