extends layout/layout

block vars
    - var pageTitle = 'Shopping bag.Saved'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content

    +b.shopping-bag.container
        +e('h1').__title.h1.h1--big Shopping Bag
        +e.__row.row
            .col-md-8
                +e.__list
                    +e.__list-head
                        .total Total products: 3
                        .amount Amount
                        .price Price
                    +e.__list-body
                        +b.shb-item
                            +e.__main
                                +e('a').__img-wrap(href="#")
                                    +e('img').__img(src="./assets/imgs/shb1.jpg" alt="")
                                +e.__info
                                    +e('a').__title(href="#") Midi dress with button closure
                                    +e('ul').__list
                                        li Size: 2 year
                                        li Vendor code: 3000000015
                                        li.red Left in stock: 3 units
                            +e.__counter-box
                                +e.__counter
                                    +counter({
                                        value: 2,
                                        min_value: 1,
                                        max_value: 3,
                                        unit: '',
                                    }).counter--sm
                                +e.__sb-btn
                                    a(href='#').icon-link.active
                                        +icon('i-remove')
                                        span Remove from cart
                            +e.__price-box
                                +e.__price 800€
                                +e.__fav-btn
                                    a(href='#').icon-link
                                        +icon('i-like')
                                        span Add to favorites
                                +e.__remove
                                    a(href="#").remove
                                        +icon('i-plus')
                        +b.shb-item
                            +e.__main
                                +e('a').__img-wrap(href="#")
                                    +e('img').__img(src="./assets/imgs/shb2.jpg" alt="")
                                +e.__info
                                    +e('a').__title(href="#") Trousers with patch pockets
                                    +e('ul').__list
                                        li Size: M
                                        li Vendor code: 3000000015
                            +e.__counter-box
                                +e.__counter
                                    +counter({
                                        value: 1,
                                        min_value: 1,
                                        max_value: 3,
                                        unit: '',
                                    }).counter--sm
                                +e.__sb-btn
                                    a(href='#').icon-link.active
                                        +icon('i-remove')
                                        span Remove from cart
                            +e.__price-box
                                +e.__price 1500€
                                +e.__fav-btn
                                    a(href='#').icon-link.active
                                        +icon('i-like-fill')
                                        span Remove from favorites
                                +e.__remove
                                    a(href="#").remove
                                        +icon('i-plus')
                        +b.shb-item
                            +e.__main
                                +e('a').__img-wrap(href="#")
                                    +e('img').__img(src="./assets/imgs/shb3.jpg" alt="")
                                +e.__info
                                    +e('a').__title(href="#") Leather bag with nappa dressing
                                    +e('ul').__list
                                        li Vendor code: 3000000015
                                        li.red Left in stock: 2 units
                            +e.__counter-box
                                +e.__counter
                                    +counter({
                                        value: 1,
                                        min_value: 1,
                                        max_value: 2,
                                        unit: '',
                                    }).counter--sm
                                +e.__sb-btn
                                    a(href='#').icon-link.active
                                        +icon('i-remove')
                                        span Remove from cart
                            +e.__price-box
                                +e.__price 1000€
                                +e.__fav-btn
                                    a(href='#').icon-link.active
                                        +icon('i-like-fill')
                                        span Remove from favorites
                                +e.__remove
                                    a(href="#").remove
                                        +icon('i-plus')


                    +e.__total-box
                        +e.__promocode
                            +b.promocode
                                +icon('i-sale')
                                input(type="text" placeholder="Promocode")
                                button(type="submit").btn.btn--dark Add
                        +e.__total
                            p TOTAL:
                                b 2 800€ +
                                a(href="#").icon-link
                                    img.icon(src="./assets/imgs/i-deliv.png" alt="")
                                    span delivery
                .row
                    .col-md-6
                        +b.shb-info
                            +e.__header
                                +e.__icon
                                    +icon('i-free')
                                +e.__title free delivery
                            +e.__body
                                p Free shipping is available for orders over 3 000€. Aliquam erat volutpat. Suspendisse erat mi, tempus vel blandit in.
                                a(href="#") Read more
                    .col-md-6
                        +b.shb-info
                            +e.__header
                                +e.__icon
                                    +icon('i-arrs')
                                +e.__title exchange and return of goods
                            +e.__body
                                p Sed justo sem, cursus sit amet ante eu, sagittis mattis massa. Cras pellentesque faucibus molestie.
                                a(href="#") Read more
            .col-md-4
                include components/sb-form
    include components/product-item
    +b.products-section
        .container
            +e.__header.h2 Also buy with this
            +e.__slider.js-products-slider
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            +product-item({
                                mod_class: '',
                                img: './assets/imgs/product27.jpg',
                                status: 'New',
                                title: 'Beaded earrings',
                                price: '1 500€',
                                old_price: '',
                                in_favourite: '',
                                not_in_stock: '',
                                in_stock: '',
                                colors: ['#EBB74F'],
                                sizes: [
                                    {name: 'xs', status: 'size--ends'},
                                    {name: 's', status: 'size--end'},
                                    {name: 'm', status: ''},
                                    {name: 'l', status: ''}
                                ],
                                bottom_sizes: ''
                            })
                        .swiper-slide
                            +product-item({
                                mod_class: '',
                                img: './assets/imgs/product28.jpg',
                                status: 'New',
                                title: 'Square Toe Sandals',
                                price: '1 200€',
                                old_price: '',
                                in_favourite: '',
                                not_in_stock: '',
                                in_stock: '',
                                colors: ['#121212'],
                                sizes: [
                                    {name: 'xs', status: 'size--ends'},
                                    {name: 's', status: ''},
                                    {name: 'm', status: 'size--end'},
                                    {name: 'l', status: ''}
                                ],
                                bottom_sizes: ''
                            })
                        .swiper-slide
                            +product-item({
                                mod_class: '',
                                img: './assets/imgs/product29.jpg',
                                status: 'New',
                                title: 'Leather bag with nappa dressing',
                                price: '800€',
                                old_price: '',
                                in_favourite: '',
                                not_in_stock: '',
                                in_stock: '',
                                colors: ['#E5E5E5', '#B7A085'],
                                sizes: '',
                                bottom_sizes: ''
                            })
                        .swiper-slide
                            +product-item({
                                mod_class: '',
                                img: './assets/imgs/product30.jpg',
                                status: 'New',
                                title: 'Elastic bow',
                                price: '1 300€',
                                old_price: '',
                                in_favourite: '',
                                not_in_stock: '',
                                in_stock: '',
                                colors: ['#A3ADAD', '#9A2A28', '#080508'],
                                sizes: '',
                                bottom_sizes: ''
                            })
                        .swiper-slide
                            +product-item({
                                mod_class: '',
                                img: './assets/imgs/product27.jpg',
                                status: 'New',
                                title: 'Beaded earrings',
                                price: '1 500€',
                                old_price: '',
                                in_favourite: '',
                                not_in_stock: '',
                                in_stock: '',
                                colors: ['#EBB74F'],
                                sizes: [
                                    {name: 'xs', status: 'size--ends'},
                                    {name: 's', status: 'size--end'},
                                    {name: 'm', status: ''},
                                    {name: 'l', status: ''}
                                ],
                                bottom_sizes: ''
                            })
                        .swiper-slide
                            +product-item({
                                mod_class: '',
                                img: './assets/imgs/product28.jpg',
                                status: 'New',
                                title: 'Square Toe Sandals',
                                price: '1 200€',
                                old_price: '',
                                in_favourite: '',
                                not_in_stock: '',
                                in_stock: '',
                                colors: ['#121212'],
                                sizes: [
                                    {name: 'xs', status: 'size--ends'},
                                    {name: 's', status: ''},
                                    {name: 'm', status: 'size--end'},
                                    {name: 'l', status: ''}
                                ],
                                bottom_sizes: ''
                            })
                        .swiper-slide
                            +product-item({
                                mod_class: '',
                                img: './assets/imgs/product29.jpg',
                                status: 'New',
                                title: 'Leather bag with nappa dressing',
                                price: '800€',
                                old_price: '',
                                in_favourite: '',
                                not_in_stock: '',
                                in_stock: '',
                                colors: ['#E5E5E5', '#B7A085'],
                                sizes: '',
                                bottom_sizes: ''
                            })
                        .swiper-slide
                            +product-item({
                                mod_class: '',
                                img: './assets/imgs/product30.jpg',
                                status: 'New',
                                title: 'Elastic bow',
                                price: '1 300€',
                                old_price: '',
                                in_favourite: '',
                                not_in_stock: '',
                                in_stock: '',
                                colors: ['#A3ADAD', '#9A2A28', '#080508'],
                                sizes: '',
                                bottom_sizes: ''
                            })
                .swiper-button-prev
                .swiper-button-next



