//GRID
//точки адаптива
$lg: 1320px;
$md: 1024px;
$sm: 768px;
$xs: 576px;

//Цвета макета
$c-primary: #ad986e;//основной цвет макета
$c-add: #C3BAB3;//дополнительный цвет макета
$c-text: #080508;//основной цвет текста макета
$c-text2: #84828D;//дополнительный цвет текста макета


// Рандомные переменные проекта

// Размер шрифта
$font-size-base: 16px;


// Шрифты
$body-font: 'Cera Pro', sans-serif;//основной
$headers-font: 'Cera Pro', sans-serif;//для заголовков
$add-font: 'Open Sans', sans-serif;//дополнительный
